
<div class="col-md-6">
    <div id="textContainer">
        <ng-scrollbar id="textContent_0" class="testScroll" [autoHide] = 'true'>
            
        </ng-scrollbar>
        <ng-scrollbar id="textContent_1" class="testScroll" [autoHide] = 'true'>
            
        </ng-scrollbar>
        <ng-scrollbar id="textContent_2" class="testScroll" [autoHide] = 'true'>
            
        </ng-scrollbar>
        <ng-scrollbar id="textContent_3" class="testScroll" [autoHide] = 'true'>
            
        </ng-scrollbar>
    </div>
</div>

<div class="col-md-6">
    <img id="image_0" />
    <img id="image_1" />
</div>