
<div id="workArea">
  <div class="col-md-8 col-sm-8 col-xs-12" style="height:100%;">
    <div id="graphConainer">
      <img src="assets/images/pages/img_1.png">
      <div id="redGraph" class="graph">
          <img id="img3" src="assets/images/pages/img_3.png">
      </div>
      <div id="blueGraph" class="graph">
        <img id="img2" src="assets/images/pages/img_2.png">
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12" style="height:100%;">
    <button id="mybtn" (click)="myMove()">Shift</button>
    <div id="mytext">
      <p>The red graph and the blue graph have the same shape. But the red grapg is shifted to the left.</p>
    </div>
  </div>
</div>