.ssScrollTrack {
    width: 1px;
    margin: 0px 0px 0px -4px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0px;
  }
  
  .ssScrollHandle {
    width: 5px;
    height: 60px;
    background-color: rgba(156, 0, 0, 0.5);
    margin-left: -2px;
    border-radius: 0px;
  }
  
  .f_page_content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .pg-img-container {
    position: relative;
    width: 0px;
    height: 424px;
    margin-top: -212px;
    background-color: #ffbc42;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    top: 50%;
    overflow: hidden;
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .pg-img-container {
      width: 0;
      height: 424px;
      margin-top: -212px;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .pg-img-container {
      width: 0;
      height: 640px;
      margin-top: -320px;
    }
  }
  
  .pg-img-container .left_side {
    position: relative;
    float: left;
    width: 417px;
    height: 424px;
    margin-left: 20px;
    margin-top: 0px;
    opacity: 0;
    overflow: hidden;
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .pg-img-container .left_side {
      width: 417px;
      height: 424px;
      margin-top: 0px;
      margin-left: 20px;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .pg-img-container .left_side {
      width: 100%;
      height: 324px;
      margin-top: 20px;
      margin-left: 0px;
    }
  }
  
  .pg-img-container .left_side img {
    float: left;
    width: 100%;
    margin-top: 0px;
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .pg-img-container .left_side img {
      margin-top: 0px;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .pg-img-container .left_side img {
      margin-top: -110px;
    }
  }
  
  .pg-img-container .right_side {
    position: relative;
    float: left;
    width: 547px;
    height: auto;
    margin-left: 20px;
    padding: 40px 20px;
    color: #333333;
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .pg-img-container .right_side {
      width: 547px;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .pg-img-container .right_side {
      width: calc(100% - 40px);
    }
  }
  
  .pg-img-container .right_side .title_text {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    left: -40px;
    opacity: 0;
    padding-bottom: 20px;
    color: #8c0909;
  }
  
  .pg-img-container .right_side .para_text {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .pg-img-container .right_side .para_text p {
    position: relative;
    float: left;
    margin-bottom: 15px;
    left: -40px;
    opacity: 0;
  }
  
  .pg-img-container .right_side .para_text p:last-child {
    margin-bottom: 0;
  }
  
  .pg-img-container .right_side .list_items {
    list-style-type: disc;
  }
  
  .pg-img-container .right_side .list_items li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: 40px;
    opacity: 0;
    left: -80px;
  }
  