
#man{
    position: absolute;
    width: 200px;
    height: 258px;
    top: 50%;
    left:20%;
    background-image: url('/assets/images/test.png');
    background-position: 0px 0px;
    margin-top: -129px;
}

#man2{
    position: absolute;
    width: 200px;
    height: 258px;
    top: 50%;
    left:40%;
    background-image: url('/assets/images/test1.png');
    background-position: 0px 0px;
    margin-top: -129px;
}


#man3{
    position: absolute;
    width: 200px;
    height: 258px;
    top: 50%;
    left:80%;
    background-image: url('/assets/images/test.png');
    background-position: 0px 0px;
    margin-top: -129px;
}