<!--  footer start  -->
<div id="f_progressBarContainer">
    <button type="button" id="f_volumeBtn" class="f_navBtn f_unmute"></button>

    <div id="f_progresBarHolder">
        <div id="f_scrubber">
            <div id="f_progress"></div>
            <!--button type="button" id="f_knob"></button-->
        </div>
    </div>

    <button type="button" id="f_backBtn" class="f_navBtn"></button>
    <button type="button" id="f_mediaBtn" class="f_navBtn f_pause"></button>
    <button type="button" id="f_nextBtn" class="f_navBtn"></button>
    
    <div id="f_nextIndicator">
        <p>Select Next to continue.<i class="arrow"></i></p>
    </div>
</div>
<!--  footer end  -->