<div class="main-container">
        <div class="image-container">
      
          <div  class="imgC"  (click) = myFun($event) > 
            <img id="v1" width="180" height="200" alt="img1" src="assets/images/pages/img1.png">
          </div>
      
          <div  class="imgC" (click)= myFun($event) >
            <img id="v2" width="180" height="200" alt="img2" src="assets/images/pages/img2.png">
          </div>
      
          <div  class="imgC" (click)= myFun($event) >
            <img id="v3" width="180" height="200" alt="img3" src="assets/images/pages/img3.png">    
          </div>
      
        </div>
        <div class="text-container">
          <p>Examples of commenalism</p>
        </div>
          <div class="box pink" id="a1" (click) = closeFun($event)>
            <div class="ar1"></div>
            <p>
              Animal and plant
                Birds commonly build nests in trees for raising their young, which benefits the 
                birds but does not affect the trees. This Baya weaver is a small bird that builds 
                intricate nests that hang from the tips of tree branches. An additional 
                advantage for the birds is that the branches cannot support the weight of 
                predators, so they cannot reach the birds.
              </p>
          </div>
          <div class="box blue" id="a2" (click) = closeFun($event)>
              <div class="ar2"></div>     
            <p>
                Two animals
                Barnacles are crustaceans that as adults live inside shells attached to objects, 
                such as piers, ships, and many kinds of animals. The barnacles, which are 
                filter feeders, benefit from being anchored to a spot where there is plenty 
                of saltwater containing food. The animals to which barnacles attach are 
                not affected.
            </p>
          </div>
          <div class="box orange" id="a3" (click) = closeFun($event)>
              <div class="ar3"></div>        
            <p>
                Two plants
                The trunk of this tree provides a home for several kinds of epiphytes, including 
                bromeliads, ferns, and mosses. Epiphytes have aerial roots that cling to 
                surfaces. The epiphytes benefit by being anchored to a place where water and 
                nutrients collect. The trees to which they attach are neither harmed nor helped.
            </p>
          </div>
      </div>