<!--  header start  -->
<div id="f_companyLogo">
    <img src="assets/images/ui/f_logo.png" alt="Company Logo">
</div>
<div id="f_courseTitle">
    <p>COURSE NAME</p>
</div>
<div id="f_pageTitle">
    <p>Page Title</p>
</div>
<div id="f_rightMenu">
    <div id="f_gadgetPatch"></div>
    <div id="f_pageCounter">
        <p id="f_pageCounterText">10 / 20</p>
    </div>
    <button type="button" id="f_homeBtn" class="f_navBtn"></button>
    <button type="button" id="f_gadgetBtn"></button>
</div>
<!--  header end  -->
