/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'line-awesome.css';
@import 'f_common_style.css';


#container{
    position: relative;
    float: left;
    width:100%;
    height:100%;
}


/* SCROLLBAR CUSTOMIZATION */
.-vertical {
    width: 4px !important;
    top: 0px !important;
}

.ng-scrollbar {
    position: absolute !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index: 1 !important;
    border-radius: 2px !important;
}

.ng-scrollbar-thumb {
    position: relative !important;
    display: block !important;
    width: 0;
    height: 0;
    cursor: pointer !important;
    border-radius: inherit !important;
    background-color: rgba(15, 226, 110, 0.2) !important;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* SCROLLBAR CUSTOMIZATION ENDS*/