<button type="button" id="f_menuBtn" class="f_navBtn"></button>
<button type="button" id="f_helpBtn" class="f_navBtn"></button>
<button type="button" id="f_transcriptBtn" class="f_navBtn"></button>
<button type="button" id="f_ccBtn" class="f_navBtn noMarginBottom"></button>
<button type="button" id="f_glossaryBtn" class="f_navBtn noMarginBottom"></button>
<button type="button" id="f_resourceBtn" class="f_navBtn noMarginBottom"></button>
<!--button type="button" id="f_fullscreenBtn" class="f_navBtn la-arrows noMarginBottom"></button-->
